@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.splash-section:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	background-color: #fc5404;
	top: 5rem;
	right: 18rem;
	border-radius: 1000px;
	transition: all 0.5s ease-in;
}

.splash-section--active:after {
	z-index: -1;
	width: 200%;
	height: 300%;
	top: -50%;
	right: -50%;
}

.divider:after {
	content: "";
	position: absolute;
	width: 2px;
	height: 200%;
	background-color: rgba(255, 255, 255, 0.5);
	left: 5rem;
	top: 6rem;
	transform: rotate(70deg);
}

@media (min-width: 768px) {
	.divider:after {
		left: auto;
		right: -3rem;
		top: -50%;
		transform: rotate(20deg);
	}
}

.months {
	width: 600%;
}

.month {
	width: 33vw;
}

.season-hachiya {
	width: 60vw;
}

.season-fuyu {
	width: 93vw;
}

.map path,
.map circle,
.map ellipse {
	fill: rgba(255, 255, 255, 0.4);
}

.map-marker--china {
	top: 30%;
	left: 40%;
}

.map-marker--korea {
	top: 45%;
	left: 60%;
}

.map-marker--japan {
	top: 40%;
	left: 75%;
}

@media (max-width: 1440px) {
	.map {
		width: 150%;
		transform: translateX(-28%);
	}

	.map-marker--china {
		top: 30%;
		left: 20%;
	}

	.map-marker--korea {
		top: 45%;
		left: 50%;
	}

	.map-marker--japan {
		top: 40%;
		left: 75%;
	}
}

@media (max-width: 976px) {
	.map {
		width: 150%;
		transform: translateX(-28%);
	}

	.map-marker--china {
		top: 25%;
		left: 15%;
	}

	.map-marker--korea {
		top: 45%;
		left: 46%;
	}

	.map-marker--japan {
		top: 40%;
		left: 73%;
	}
}

@media (max-width: 768px) {
	.map {
		width: 200%;
		transform: translateX(-35%);
	}

	.map-marker--china {
		top: 35%;
		left: 10%;
	}

	.map-marker--korea {
		top: 55%;
		left: 45%;
	}

	.map-marker--japan {
		top: 45%;
		left: 80%;
	}
}
