@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.splash-section:after {
	content: "";
	z-index: -1;
	position: absolute;
	width: 0;
	height: 0;
	background-color: #fc5404;
	top: 5rem;
	right: 18rem;
	border-radius: 1000px;
	transition: all 0.5s ease-in;
}

.splash-section--active:after {
	width: 200%;
	height: 300%;
	top: -50%;
	right: -50%;
}

.divider:after {
	content: "";
	position: absolute;
	width: 2px;
	height: 200%;
	background-color: rgba(255, 255, 255, 0.5);
	left: 5rem;
	top: 6rem;
	transform: rotate(70deg);
}

@media (min-width: 768px) {
	.divider:after {
		left: auto;
		right: -3rem;
		top: -50%;
		transform: rotate(20deg);
	}
}
